name: Flutter CI/CD Workflow

on:
  push:
    branches:
      - main
      - release/*
      - feature/*
  pull_request:
    branches:
      - main
      - release/*
  workflow_dispatch:

jobs:
  build:
    name: Build, Test, and Deploy Flutter Project
    runs-on: ubuntu-latest

    env:
      FLUTTER_ENV: development
      API_URL: ${{ secrets.API_URL }}
      FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}

    steps:
      # Checkout code from GitHub
      - name: Check out repository
        uses: actions/checkout@v3

      # Cache Flutter Dependencies
      - name: Cache Flutter Dependencies
        uses: actions/cache@v2
        with:
          path: ~/.pub-cache
          key: ${{ runner.os }}-pub-${{ hashFiles('**/pubspec.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pub-

      # Setup Flutter SDK
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.4'  # Cambiamos la versi贸n de Flutter para que use Dart >= 3.2.0

      # Verify Flutter installation
      - name: Flutter Doctor
        run: flutter doctor


      # Install dependencies
      - name: Install dependencies
        run: flutter pub get

      # Run Unit Tests (Ejecutar pruebas unitarias)
      - name: Run Unit Tests
        if: startsWith(github.ref, 'refs/heads/feature/') || github.ref == 'refs/heads/development'
        run: flutter test --coverage

      # Collect Coverage Report (opcional si se necesita un reporte detallado)
      - name: Upload Test Coverage Report
        if: success()
        uses: actions/upload-artifact@v3
        with:
          name: coverage-report
          path: coverage/lcov.info

      # Run Integration/E2E Tests (si tienes pruebas de integraci贸n)
      - name: Run Integration Tests
        if: github.ref == 'refs/heads/development' || startsWith(github.ref, 'refs/heads/feature/')
        run: flutter drive --target=test_driver/app.dart

      # Upload Sentry Release (Integraci贸n con Sentry)
      # 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 sentry auth token
      - name: Upload Sentry Release
        uses: getsentry/action-release@v1
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          SENTRY_ORG: ${{ secrets.SENTRY_ORG }}
        with:
          projects: flutter
          environment: ${{ env.FLUTTER_ENV }}
          version: ${{ github.sha }}
      

  deploy:
    name: Deploy Flutter App
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' || startsWith(github.ref, 'refs/heads/release/')
    steps:
      # Checkout code from GitHub
      - name: Check out repository
        uses: actions/checkout@v3

      # Setup Flutter SDK
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.24.4'

      # Run Deployment Script (cambia este paso seg煤n tu proceso de despliegue)
      - name: Deploy Application
        run: echo "Desplegando la aplicaci贸n..."  # Aqu铆 se deber铆a colocar el script o comando espec铆fico para el despliegue

# Notificaciones y Reportes
  notifications:
    name: Notifications and Reports
    runs-on: ubuntu-latest
    needs: [build, deploy]

    steps:
      # Enviar notificaci贸n por correo electr贸nico en caso de fallos o 茅xito en la ejecuci贸n del pipeline
      - name: Send email notification
        if: failure() || success()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 587
          username: ${{ secrets.EMAIL_USERNAME }}
          password: ${{ secrets.EMAIL_PASSWORD }}
          subject: 'CI/CD Pipeline Notification - ${{ github.workflow }}'
          to: 'mtzalan080@gmail.com'
          body: 'El flujo de CI/CD para el proyecto ${{ github.repository }} ha completado con el estado: ${{ job.status }}.'
          from: 'ci-cd-notifications@ejemplo.com'

      # Dejar un comentario en Pull Request sobre el resultado de la ejecuci贸n
      - name: Post Pull Request Comment
        if: github.event_name == 'pull_request'
        uses: actions/github-script@v4
        with:
          github-token: ${{ secrets.GIH_TOKEN }}
          script: |
            const status = '${{ job.status }}';
            const prNumber = context.payload.pull_request.number;
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: prNumber,
              body: ` El pipeline de CI/CD ha completado con el estado: ${status}.`,
            });
